.message-card {
  background-color: #fbfbfb;
  margin: 1vw 9vw;
  padding: .5vw 2vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  .content-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    .message-content{
      margin-right: 1vw;
    }
    .date-sent{
      opacity: .7;
      flex-grow: 9;
    }
    .chat-img{
      img{
        border-radius: 50%;
        width: 4vw;
      }
    }
  }
}
.unread {
  opacity: .7;
}
.read{
  color:#33aeac;
}