<nav>
  <div class="logo">
    <a href="">
      <img src="assets/logo.svg" alt="roomly logo" srcset="">
      <h2>Roomly</h2>
    </a>
  </div>
  <div class="links">
    <ul class="nav-links">
      <li><a href="">Home</a></li>
      <li><a href="">About Us</a></li>
      <li><a href="">Reviews</a></li>
      <li><a href="">Support</a></li>
    </ul>
    <ul class="join-links">
      <li><a class="login" href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
    </ul>
  </div>
</nav>