@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

nav {
  z-index: 99999;
  display: flex;
  text-align: center;
  padding: 0 4vw;
  padding-top: 1em;
  padding-bottom: .5em;
  width: 100vw;
  background-color: white;
  .logo {
    a{
      display: flex;
      align-content: center;
        h2 {
        font-family: 'Grand Hotel', cursive;
        font-size: 2.5vw;
        margin: 0;
        margin-top: .3vw;
        color: #367590;
        align-self: flex-start;
      }
      img{
        width: 3.5vw;
      }
    }
  }
  .burger{
    display: none;
    height: 100%;
    div{
      width: 25px;
      height: 3px;
      background-color: #fff;
      margin: .2em;
    }
  }
  .links {
    display: flex;
    margin: .6em;
    margin-left: auto;
    .nav-links, .join-links {
      display: flex;
      list-style-type: none;
      li{
        margin: 0 1vw;
        justify-content: space-evenly;
        &:focus {
          border: none;
          outline: none;
        }
        a{
          color: rgb(48, 48, 48);
          font-weight: 400;
          font-size: 1.5vw;
          &:hover {
            color: #33aeac;
            cursor: pointer;
          }
        }
      }
    }
    .join-links{
      margin-left: 2em;
      li a{
        color: white;
        font-weight: 500;
        background-color: #327599;
        border: 2px solid #327599;
        border-radius: 10px;
        padding: .5em 2em;
        &.login{
          background-color: transparent;
          color: #327599;
          &:hover{
            color: white;
            font-weight: 500;
            background-color: #327599;
          }
        }
        &:hover {
          background-color: #276180;
          border: 2px solid #276180;
          color: white;
        }
      }
    }
  }
}

//Mobile

@media screen and (max-width: 768px){
  nav {
    background-color: #367590;
    padding: 0 2em;
    padding-top: 1em;
    padding-bottom: .5em;
    z-index: 9999;
    justify-content: space-around;
    .logo{
      margin-right: auto;
      margin-bottom: .5em;
      a {
        h2 {
          color: white;
          margin: 0;
          font-size: 2em;
        }
      }
      img{
        display: none;
      }
    }
    .burger {
      display: block;
      margin-top: .5em;
    }
    .links{
      position: absolute;
      height: 100vh;
      right: 0;
      top: 7.5vh;
      background-color: #367590;
      flex-direction: column;
      margin: 0;
      width: 70%;
      transform: translateX(100%);
      transition: transform .5s ease-in;
      .nav-links, .join-links{
        flex-direction: column;
        margin: 0;
        li {
          opacity: 0;
          margin-bottom: 1.5em;
          text-align: center;
          font-size: 1em !important;
          a {
            color: white;
            font-size: 1.7em !important;
          }
          &:first-of-type{
            margin-top: 1.5em;
          }
        }
      }
      .nav-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-items: center;
        li {
          width: 100%;
          &:hover {
            background-color: rgb(240, 82, 82);
            color: white !important;
            outline: none;
            border: none;
          }
          a {
            &:hover {
              color: white;
            }
          }
        }
      }
      .join-links{
        margin-top: auto;
        margin-bottom: 6em;
        li {
          margin-top: 1em;
            a{
            background-color: rgb(240, 82, 82);
            border: 2px solid rgb(240, 82, 82);
            border-radius: 10px;
            padding: .5em 2em;
            font-size: 1.5em !important;
            &.login{
              padding: .5em 2.6em;
              background-color: rgb(240, 82, 82);
              color: white;
              &:hover{
                background-color: rgb(223, 53, 53);
              }
            }
            &:hover {
              background-color: rgb(223, 53, 53);
              border: 2px solid rgb(223, 53, 53);
              color: white;
            }
          }
        }
      }
    }
  }


  //Utility
  .nav-active {
    transform: translateX(0%) !important;
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(20%);
    }
    to{
      opacity: 1;
      transform: translateX(0%);
    }
  }

  //Burger Animation
  .toggle .line1{
    transform: rotate(-45deg) translate(-3px,4px);
  }
  .toggle .line2{
    opacity: 0;
  }
  .toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
  }

  .selected {
    background-color: rgb(240, 82, 82);
    color: white !important;
    outline: none;
    border: none;
  }
}
