<nav>
  <div class="logo">
    <a href="">
      <img src="assets/logo.svg" alt="roomly logo" srcset="">
      <h2>Roomly</h2>
    </a>
  </div>
  <div class="burger" (click)="navSlide()">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
  <div class="links">
    <ul class="nav-links">
      <li  [routerLinkActiveOptions]="{ exact: true }" routerLink="" routerLinkActive="selected"><a>Home</a></li>
      <li routerLink="/about" routerLinkActive="selected"><a>About</a></li>
      <li routerLink="/reviews" routerLinkActive="selected"><a>Reviews</a></li>
      <li routerLink="/contact" routerLinkActive="selected"><a>Support</a></li>
    </ul>
    <ul class="join-links">
      <li><a class="login" href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
    </ul>
  </div>
</nav>