.background{
  position: absolute;
  z-index: -10;
  height: 100%;
  width: 100%;
  .bg-image{
    background-image: url("https://source.unsplash.com/VW8MUbHyxCU/");
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
  }
  .overlay{
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    opacity: .6;
    position: absolute;
    height: 100%;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.login-container{
  display: flex;
  justify-content: center;
  transform: translateY(50%);
  #login {
    display: flex;
    overflow: hidden;
    border-radius: 7px;
    box-shadow: 0 3px 10px rgb(80, 80, 80);
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 30vw;
    padding: 1.5em;
    .login-form{
      width:100%;
      h2{
        text-align: center;
      }
      form{
        .form-group {
          position: relative;
          margin: 2rem 0;
          width: 100%;
          p{
            font-size: .8em;
            margin-top: .3em;
            color: rgb(240, 82, 82);
            visibility: hidden;
          }
          .input{
            background: transparent;
          }
          label{
            position:absolute;
            top:0px;
            left:0px;
            font-size:16px;
            font-weight: lighter;
            color:#000;	
            pointer-events: none;
            transition: all 0.5s ease-in-out;
          }
          .input{ 
            border:0;
            border-bottom:1.5px solid #4EB094;  
            background:transparent;
            width:100%;
            padding:8px 0 5px 0;
            font-size:16px;
            color:#000;
            &:focus{ 
              border:none;	
              outline:none;
              border-bottom:1.5px solid #327599;  
            }
            &:focus ~ label,
            &:valid ~ label{
              top:-12px;
              font-size:12px;
            }
          }
        }
        button{
          margin: 0 auto;
          width: 100%;
          padding: .5em 0;
          outline: none;
          color: white;
          font-weight: 500;
          border: none;
          background-color: #4EB094;
          &:hover{
            background-color: #419d83;
          }
        }
      }
    }
  }

}

//Mobile View

@media screen and (max-width: 768px){
  #login {
    width: 90vw !important;
  }
}

