@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.mobile-nav {
  display: none;
}
.mobile-nav-2 {
  display: none;
}
.desktop-nav {
  display: flex;
}
nav {
  z-index: 9999;
  display: flex;
  text-align: center;
  padding: 0 8em;
  padding-top: 1vw;
  padding-bottom: 1vw;
  width: 100vw;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  .logo {
    a{
      display: flex;
      align-content: center;
        h2 {
        font-family: 'Grand Hotel', cursive;
        font-size: 2.5vw;
        margin: 0;
        margin-top: .3vw;
        color: #367590;
        align-self: flex-start;
      }
      img{
        width: 3.5vw;
      }
    }
  }
    
  .nav-links{
    width: 31vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .find-roommates{
      color: white !important;
      font-weight: 500 !important;
      background-color: #4EB094;
      font-size: 1.3vw;
      &:hover{
        background-color: #419d83;
        color: rgb(65, 45, 45);
      }
      border-radius: 7px;
      padding: 1em 1em;
    }
    li {
      a {
        font-size: 1.3vw;
      }
    }
  }
    
    .join-links{
      display: flex;
      align-items: center;
      li {
          a{ 
              i{
              color: #33aeac;
              font-size: 2vw;
              margin: 0 .5vw;
              &:hover {
                font-weight: bolder;
              }
            }
          }
      }
      .user{
        display: flex;
        transform: translateY(-.5em);
        img{
          border-radius: 50%;
          height: 4vw;
          width: 4.1vw;
        }
        .dropdown{
          margin-top: .5em;
          .dropdown-menu{
            border-top: none;
            margin-top: .7em;
            border-radius: 0 0 5px 5px;
            a{
              font-size: 1.3vw;
              font-weight: 400;
              &:hover{
                cursor: pointer;
              }
            }
          }
          .dropdown-toggle{
            margin-left: .5em;
            font-size: 2vw;
            font-weight: 400;
            &:hover{
              cursor: pointer;
            }
          }
        }
      }
    }
    .nav-links, .join-links {
      margin: .6em;
      display: flex;
      list-style-type: none;
      li{
        margin: 0 1vw;
        justify-content: space-evenly;
        a{
          color: rgb(48, 48, 48);
          font-weight: 450;
        }
        a:hover{
          color: #33aeac;
        }
      }
    
  }
}

//Mobile Styles

@media screen and (max-width: 1281px) {
  .mobile-nav {
    display: flex;
    position: fixed;
    top: 90vh;
    height: 10vh;
    .nav-links {
      li {
        a{
          font-size: 1em;
        }
      }
    }
  }
  .mobile-nav-2 {
    display: flex;
    position: sticky;
    top: 0;
  }
  .desktop-nav {
    display: none;
  }
  .user {
    img{
      height: 2.5em !important;
      width: 2.6em !important;
    }
  }
  .dropdown{
    margin-top: .5em;
    .dropdown-menu{
      border-top: none;
      margin-top: .7em;
      border-radius: 0 0 5px 5px;
      transform: translateX(-2em) !important;
      a{
        font-size: 1em !important;
        &:hover{
          cursor: pointer;
        }
      }
    }
    .dropdown-toggle{
      margin-left: .5em;
      font-size: 1em !important;
      color: white !important;
      &:hover{
        cursor: pointer;
      }
    }
  }
}
@media screen and (max-width: 1281px){
  nav {
    background-color: #367590;
    padding: 0 2vw;
    padding-top: 1em;
    padding-bottom: .5em;
    margin-top: 0;
    z-index: 9999;
    justify-content: space-around;
    .logo{
      margin-right: auto;
      margin-bottom: .5em;
      a {
        h2 {
          color: white;
          margin: 0;
          font-size: 2em;
        }
      }
      img{
        display: none;
      }
    }
    .join-links{
      margin: .6em;
      li a i{
        color: #33aeac;
        font-size: 1.3em;
        &:hover {
          font-weight: bolder;
        }
      }
    }
    
      .nav-links{
        flex-direction: row;
        margin: 0;
        align-items: center;
        justify-content: center;
        li {
          text-align: center;
          font-size: 1.7em;
          margin: 0.5em 1em;
          a {
            color: white !important;
            font-weight: 500 !important;
            &:hover{
              background-color: #419d83;
              color: white;
            }
            padding: .7em 1em;
          }
        }
      }
  }
}