@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.mobile-nav {
  display: none;
}
.mobile-nav-2 {
  display: none;
}
.desktop-nav {
  display: flex;
}
nav {
  display: flex;
  text-align: center;
  padding: 0 8em;
  padding-top: 1em;
  padding-bottom: .5em;
  width: 100vw;
  background-color: white;
  justify-content: space-between;
  .logo {
    a{
      display: flex;
      align-content: center;
        h2 {
        font-family: 'Grand Hotel', cursive;
        font-size: 1.5em;
        margin: 0;
        margin-top: .3em;
        color: #367590;
        align-self: flex-start;
      }
      img{
        width: 2.5em;
        height: 2.5em;
      }
    }
  }
    
  .nav-links{
    .find-roommates{
      color: white !important;
      font-weight: 500 !important;
      background-color: #4EB094;
      &:hover{
        background-color: #419d83;
        color: white;
      }
      border-radius: 7px;
      padding: 1em 1em;
    }
  }
    
    .join-links{
      margin: .6em;
      margin-top: 1em;
      li a i{
        color: #33aeac;
        font-size: 1.3em;
        &:hover {
          font-weight: bolder;
        }
      }
      .user{
        display: flex;
        transform: translateY(-.5em);
        img{
          border-radius: 50%;
          height: 2.5em;
          width: 2.6em;
        }
        .dropdown{
          margin-top: .5em;
          .dropdown-menu{
            border-top: none;
            margin-top: .7em;
            border-radius: 0 0 5px 5px;
            a{
              &:hover{
                cursor: pointer;
              }
            }
          }
          .dropdown-toggle{
            margin-left: .5em;
            &:hover{
              cursor: pointer;
            }
          }
        }
      }
    }
    .nav-links, .join-links {
      margin: .6em;
      display: flex;
      list-style-type: none;
      li{
        margin: 0 1em;
        justify-content: space-evenly;
        a{
          color: rgb(48, 48, 48);
          font-weight: 450;
        }
        a:hover{
          color: #33aeac;
        }
      }
    
  }
}

//Mobile Styles

@media screen and (max-width: 768px) {
  .mobile-nav {
    display: flex;
    position: sticky;
    top: 100%;
  }
  .mobile-nav-2 {
    display: flex;
    position: sticky;
    top: 0;
  }
  .desktop-nav {
    display: none;
  }
  .dropdown{
    margin-top: .5em;
    .dropdown-menu{
      border-top: none;
      margin-top: .7em;
      border-radius: 0 0 5px 5px;
      a{
        &:hover{
          cursor: pointer;
        }
      }
    }
    .dropdown-toggle{
      margin-left: .5em;
      color: white !important;
      &:hover{
        cursor: pointer;
      }
    }
  }
}
@media screen and (max-width: 768px){
  nav {
    background-color: #367590;
    padding: 0 2em;
    padding-top: 1em;
    padding-bottom: .5em;
    z-index: 9999;
    justify-content: space-around;
    .logo{
      margin-right: auto;
      margin-bottom: .5em;
      a {
        h2 {
          color: white;
          margin: 0;
          font-size: 2em;
        }
      }
      img{
        display: none;
      }
    }
    
      .nav-links{
        flex-direction: row;
        margin: 0;
        align-items: center;
        justify-content: center;
        li {
          text-align: center;
          font-size: 1.7em;
          margin: 0.5em 1em;
          a {
            color: white !important;
            font-weight: 500 !important;
            &:hover{
              background-color: #419d83;
              color: white;
            }
            padding: 1em 1em;
          }
        }
      }
  }
}