<nav class="desktop-nav">
  <div class="logo">
    <a routerLink='/'>
      <img src="assets/logo.svg" alt="roomly logo" srcset="">
      <h2>Roomly</h2>
    </a>
  </div>
  <ul class="nav-links">
    <li><a class="find-roommates" routerLink='/find-roommates'>Find Roommates</a></li>
    <li><a routerLink='/matches'>Matches</a></li>
    <li><a routerLink='/messages'>Messages</a></li>
  </ul>
    <ul class="join-links">
      <li><a href=""><i class="far fa-envelope"></i></a></li>
      <li><a href=""><i class="far fa-bell"></i></a></li>
      <li>
        <div class="user" 
        *ngIf="(accountService.currentUser$ | async) as user">
          <img src="{{user.photoUrl || 'assets/user.png'}}" alt="">
          <div class="dropdown" dropdown>
            <a class="dropdown-toggle" 
                dropdownToggle>{{user.userName | titlecase}}
            </a>
            <div class="dropdown-menu" *dropdownMenu>
              <a class="dropdown-item" routerLink='user/edit'>Settings</a>
              <div class="dropdown-divider"></div>
              <a  class="dropdown-item" (click)="logout()">Logout</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
</nav>

<!-- Mobile Navbar Markup -->
<nav class="mobile-nav-2">
  <div class="logo">
    <a routerLink='/'>
      <img src="assets/logo.svg" alt="roomly logo" srcset="">
      <h2>Roomly</h2>
    </a>
  </div>
    <ul class="join-links">
      <li><a href=""><i class="far fa-envelope"></i></a></li>
      <li><a href=""><i class="far fa-bell"></i></a></li>
      <li>
        <div class="user" 
        *ngIf="(accountService.currentUser$ | async) as user">
          <img src="{{user.photoUrl}}" alt="">
          <div class="dropdown" dropdown>
            <a class="dropdown-toggle" 
                dropdownToggle>{{user.userName | titlecase}}
            </a>
            <div class="dropdown-menu" *dropdownMenu>
              <a routerLink='/user/edit' class="dropdown-item">Settings</a>
              <div class="dropdown-divider"></div>
              <a  class="dropdown-item" (click)="logout()">Logout</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
</nav>
<nav class="mobile-nav">
  <ul class="nav-links">
    <li><a routerLink='/find-roommates'>
      <i class="fas fa-search"></i>
    </a></li>
    <li><a routerLink='/matches'><i class="far fa-star"></i></a></li>
    <li><a routerLink='/messages'><i class="far fa-envelope"></i></a></li>
  </ul>
</nav>