<div class="card" *ngIf="member">
  <div class="img-wrapper">
    <div class="overlay"></div>
    <img src="{{member.photoUrl}}" alt="{{member.userName}}">
    <ul class="buttons">
      <li><a routerLink="/user/{{member.userName}}"><i class="fas fa-info"></i></a></li>
      <li><a routerLink=""><i class="fas fa-heart"></i></a></li>
      <li><a routerLink=""><i class="fas fa-envelope"></i></a></li>
    </ul>
    <p>${{member.budget}}<span> /mo</span></p>
  </div>
  <div class="content">
    <div class="heading">
      <h4>{{member.userName | titlecase}}, {{member.age}}</h4>
      <p>looking for roommates in <a>{{member.country}}, {{member.city}}</a></p>
    </div>
    <div class="description">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet enim sagittis, varius nulla at, malesuada quam. Mauris tristique semper venenatis. In commodo turpis.</p>
    </div>
    <div class="interests">
      <p>Interests :</p>
      <div class="interests-wrapper">
        <div class="interest"
        *ngFor="let interest of member.interestsArray">{{interest}}</div>
      </div>
    </div>
  </div>
</div>