.form-group {
  position: relative;
  margin: 2rem 0;
  width: 100%;
  label{
    position:absolute;
    top:0px;
    left:0px;
    font-size:16px;
    font-weight: lighter;
    color:#000;	
    pointer-events: none;
    transition: all 0.5s ease-in-out;
  }
  .input{ 
    border:0;
    border-bottom:1.5px solid #4EB094;  
    background:transparent;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;
    color:#000;
    &:focus{ 
      border:none;	
      outline:none;
      border-bottom:1.5px solid #327599;  
    }
    &:focus ~ label,
    &:valid ~ label{
      top:-12px;
      font-size:12px;
    }
  }
  .is-invalid {
    border-bottom: 1.5px solid rgb(240, 82, 82);
  }
  p {
    font-size: 1vw;
    margin-top: .3vw;
    color: rgb(240, 82, 82);
  }
}

