<div class="members-list-container">
  <ng-container *ngIf="members">
    <app-member-card *ngFor="let member of members" [member]="member">

    </app-member-card>
  </ng-container>
</div>
<div class="pagination-container">
  <pagination *ngIf="pagination"
            [boundaryLinks]="true"
            [totalItems]="pagination.totalItems"
            [itemsPerPage]="pagination.itemsPerPage"
            [(ngModel)]="pagination.currentPage"
            (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;"
            nextText="&rsaquo;"
            firstText="&laquo;"
            lastText="&raquo;">

  </pagination>
</div>

